header{
    background-color: beige;
    padding:20px 0;/* espaço em cima e embaixo do cabeçalho - espaçamento imterno*/
}

.caixa{
    position: relative;/*menu dentro da caixa*/
    width: 940px;/*largura da caixa*/
    margin: 0 auto;
}

main {
    background-color: antiquewhite;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;/*espaçamento externo*/
}

nav a{
    text-transform: uppercase;/*letras maiusculas*/
    color:#000000; /* cor das letras pretas*/
    font-weight: bold; /*fonte negrito*/
    font-size: 22px; /*tamanho da fonte */
    text-decoration: none;/* retirar o sublinhado do texto*/
}

.produtos {  
       display: inline-block;
       margin: 0 auto;
       padding: 50px0;
}

.produtos li{
      display: inline-block;
      text-align: center;
      vertical-align: top;
      padding: 30px20px;
      box-sizing: border-box;
      border:2px solid #000000
      border-radius:10px;
